<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="io" class="com.sg.flooringmastery.UserIO" />
    <bean id="dao" class="com.sg.flooringmastery.dao.OrderFileDao" />
    <bean id="view" class="com.sg.flooringmastery.view.FlooringMasteryView">
        <constructor-arg ref="io" />
    </bean>
    <bean id="service" class="com.sg.flooringmastery.service.FlooringMasteryService">
        <constructor-arg ref="dao"/>
    </bean>
    <bean id="controller" class="com.sg.flooringmastery.controller.FlooringMasteryController">
        <constructor-arg ref="view" />
        <constructor-arg ref="service" />
    </bean>
</beans>